body {
	font-size: 16px; 
	line-height: 24px;
	color: rgb(40, 49, 54);
	font-weight: normal;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;	
	min-width: 1200px;

}
 
.index-content-title {
	font-size: 55px;
	line-height: 55px;
	color: rgb(0, 0, 0);
	font-weight: medium;	
}


.features-title{
	font-size: 24px; 
	line-height: 30px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.promotion-aboutus {
	font-size: 45px; 
	line-height: 45px;
	color: rgb(0, 0, 0);
	font-weight: medium;
}

.promotion-title {
	font-size: 16px; 
	line-height: 24px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.tagline-row1 {
	font-size: 36px; 
	line-height: 36px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.tagline-row2 {
	line-height: 22px;
	color: rgb(68, 68, 68);
	
}

.catalog-title {
	font-size: 55px; 
	line-height: 55px;
	color: rgb(0, 0, 0);
	font-weight: medium;
}

.filter-title {
	font-size: 18px; 
	line-height: 30px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.sorting-title {
	font-size: 18px; 
	line-height: 18px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}



/*Сетка*/

.main-header {
	background-color: #eeeeee; 	
}
.container {
	width: 1160px;
	padding: 0px 20px;
	margin: 0 auto;
}

.main-header-top {
	padding-top: 50px;
}

.catalog-logo {
	width: 160px;
	float: left;
	margin-right: 40px;
}

.main-navigation {
	width: 760px;
	float: left;
	margin-top: 10px;
}

.main-navigation li {
 	display: inline-block;
 	vertical-align: top;
    padding: 0;
    margin: 0;
}

.main-navigation a,
.header-basket     {              
    display: block;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
}

.header-basket {
	width: 160px;
	float: right;
	text-align: right;
	margin-top: 26px;
    /*padding-right: 0;*/
    /*margin-top: 17px;*/
}

 /*a .header-basket:hover {
    color: #fb565a;
}

a .header-basket:active {
    color: rgba(0, 0, 0, 30);
}

a .header-basket:visited {

}*/

.slider-img {
	max-width:760px;
	height: auto;
}









.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header-bottom {
	width: 1160px;
	/*min-height: 430px;*/

}

.slider-text {
	width: 400px;
	float: left;
	padding-top: 26px; /*Что то не верно в макете значение 87px*/

}

.slider-img {
	width: 760px;
	float: right;
	
}

.features {
	padding-top: 80px; /*Что то не верно в макете значение 80px*/
	padding-bottom: 80px;
}

.features-item {
	width: 300px;
	float: left;
	margin-right: 100px;
}

.features-item:last-child {
  margin-right: 60px;
}

.promotion-row {
	min-height: 265px;
}

.promotion-left {
	width: 660px;
	float: left;
}

.promotion-right {
	width: 380px;
	float: right;
}

.projects {
	min-height: 180px;
}

.main-footer {
	padding-bottom: 84px;	
}

.main-footer-top {
	min-height: 420px;
}

.main-footer-bottom {
	min-height: 216px;
}

.footer-social {
	width: 260px;
	float: left;
	margin-right: 140; 
}

.footer-tagline {
	width: 560px;
	float: left;
}

.catalog-title {
	text-align: center;
}

.filter {
 	float: left;
 	width: 260px;
 }

.side-right {
 	float: right;
 	width: 760px;
 }


.goods-item {
 	display: inline-block;
 	width: 360px;
 	margin-right: 40px;
 }	

