body {
	font-size: 16px; 
	line-height: 24px;
	color: rgb(40, 49, 54);
	font-weight: normal;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;	
	min-width: 1200px;

}
 




.promotion-aboutus {
	font-size: 45px; 
	line-height: 45px;
	color: rgb(0, 0, 0);
	font-weight: medium;
}

.promotion-title {
	font-size: 16px; 
	line-height: 24px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.tagline-row1 {
	font-size: 36px; 
	line-height: 36px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.tagline-row2 {
	line-height: 22px;
	color: rgb(68, 68, 68);
	
}

.catalog-title {
	font-size: 55px; 
	line-height: 55px;
	color: rgb(0, 0, 0);
	font-weight: medium;
}

.filter-title {
	font-size: 18px; 
	line-height: 30px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.sorting-title {
	font-size: 18px; 
	line-height: 18px;
	color: rgb(0, 0, 0);
	font-weight: bold;
}



/*Сетка*/

.main-header {
	background-color: #eeeeee; 	
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	padding: 0px 20px;
	margin: 0 auto;
}

.main-header-top {
	padding-top: 50px;
}

.header-logo {
	width: 160px;
	float: left;
	margin-right: 177px;
}

.main-navigation {
	width: 623px;
	float: left;
	margin-right: 40px;
	margin-top: 25px;

}

.main-navigation ul {
  margin-top: 17px;
  margin: 0px;
  padding: 0px;
  
  }

.main-navigation li {
 	display: inline-block;
 	vertical-align: top;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
}

.main-navigation a {
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 19px;
  
}

.main-navigation a,
.header-basket     {              
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.header-basket {
	width: 160px;
	float: right;
	text-align: right;
	margin-top: 26px;
}

.main-navigation a:hover {
    color: #fb565a;
}

/*не работает*/
.main-navigation a:active {
    color: rgba(0, 0, 0, 30);
}

.header-basket:hover {
    color: #fb565a;
}

/*не работает*/
.header-basket:active {
    color: rgba(0, 0, 0, 30);
}


.slider-text {
	width: 400px;
	float: left;
}

.slider-title {
	font-size: 55px;
	line-height: 55px;
	color: rgb(0, 0, 0);
	font-weight: 500;
	display: block;
  	padding: 0;
  	margin: 0;
  	margin-top: 72px;	
}

.slider-sentence {
	margin: 0;
    padding: 0;
    margin-top: 27px;
}

.slider-text .btn {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 240px;  
  background-color: #fb565a;
  display: block;
  text-align: center;  
  margin: 0;
  padding: 16px 0;
  margin-top: 38px;
  margin-bottom: 80px;
  border-radius: 3px;
}



.slider-img {
	float: right;
	max-width: 760px;
	height: auto;
	
}

.features {
	padding-top: 80px; 
	padding-bottom: 80px;
}

.features-item {
	width: 300px;
	float: left;
	margin-right: 100px;
}

.features-item:last-child {
    margin-right: 60px;
}

.features-title {
	color: rgb(0, 0, 0);
	font-weight: bold;
    text-transform: uppercase;  
  	margin: 0;
 	padding: 0;
 	margin-top: 18px; 	
}

.features-content {
	font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}


.features-item .btn {
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	margin-top: 32px;
    display: block;
    width: 82px;
    line-height: 18px;
    font-weight: bold;  
    padding: 16px 39px;
    border-radius: 3px;
}	

.btn-pink {
	 background-color: #fb565a;

}

.btn-green {
	 background-color: #00ca74;

}

.btn-yellow {
	 background-color: #efc84a;

}



.promotion-row {
	min-height: 265px;
}

.promotion-left {
	width: 660px;
	float: left;
}

.promotion-right {
	width: 380px;
	float: right;
}

.projects {
	min-height: 180px;
}

.main-footer {
	padding-bottom: 84px;	
}

.main-footer-top {
	min-height: 420px;
}

.main-footer-bottom {
	min-height: 216px;
}

.footer-social {
	width: 260px;
	float: left;
	margin-right: 140; 
}

.footer-tagline {
	width: 560px;
	float: left;
}

.catalog-title {
	text-align: center;
}

.filter {
 	float: left;
 	width: 260px;
 }

.side-right {
 	float: right;
 	width: 760px;
 }


.goods-item {
 	display: inline-block;
 	width: 360px;
 	margin-right: 40px;
 }	

